docker/add-deposit-ui-to-flat/flat_deposit/Helpers/CMDI/FormTemplates/MPI_Bundle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cmd="http://www.clarin.eu/cmd/1" xmlns:cue="http://www.clarin.eu/cmdi/cues/1" xmlns:cmdp="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1475136016242" targetNamespace="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1475136016242" elementFormDefault="qualified">
    <xs:annotation>
        <xs:appinfo xmlns:ann="http://www.clarin.eu">
            <cmd:Header>
                <cmd:ID>clarin.eu:cr1:p_1475136016242</cmd:ID>
                <cmd:Name>MPI_Bundle</cmd:Name>
                <cmd:Description>General bundle profile for MPI data sets</cmd:Description>
                <cmd:Status>development</cmd:Status>
                <cmd:DerivedFrom>clarin.eu:cr1:p_1475136016239</cmd:DerivedFrom>
            </cmd:Header>
        </xs:appinfo>
    </xs:annotation>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:import namespace="http://www.clarin.eu/cmd/1" schemaLocation="https://infra.clarin.eu/CMDI/1.x/xsd/cmd-envelop.xsd"/>
    <xs:simpleType name="simpletype-DataType-1---">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Audio recordings" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Behavioural data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Breathing measurements" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Cell biology data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Computational modeling data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Demographic data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Dictionary" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="DNA sequences" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="DTI data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="EEG data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Eye tracking data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="FCPP (forced choice pointing) data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Field notes" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="fMRI data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Genome data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Geolocation data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Grammatical description" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Grammaticality judgement data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="GSR data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Histology data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Images" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="IQ test data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Kinematic data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Kinship data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="LENA recording data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Lexicographic data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Linguistic annotations" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="MEG data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Microscopic images" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Molecular data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Neuropsychological test data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Phenotype data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Phonetic analysis" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Photographs" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Phylogenetic data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Proteomic data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Questionnaire data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Reaction time data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Resting state fMRI data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="sMRI data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="SNP genotype data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Statistical data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Stimuli" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="tACS data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="tDCS data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="TMS data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Transcriptions" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Transcriptome data" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Video recordings" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Word list" cmd:ConceptLink="" cmd:label=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-DataType-1---">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-DataType-1---"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-ResearchField-1---">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Language Acquisition" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Language Development" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Language Documentation" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Language Typology" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Genetics" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Neurobiology" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Psychology" cmd:ConceptLink="" cmd:label=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-ResearchField-1---">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-ResearchField-1---"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-Date-1---">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}(-(0[1-9]|1[012])(-([0-2][0-9]|3[01]))?)?(/[0-9]{4}(-(0[1-9]|1[012])(-([0-2][0-9]|3[01]))?)?)?|Unknown|Unspecified"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-Date-1---">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-Date-1---"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-Role-clarin.eu.cr1.c_1475136016236">
        <xs:restriction base="xs:string">
            <xs:enumeration value="annotator" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="author" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="compiler" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="consultant" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="data_inputter" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="depositor" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="developer" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="editor" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="illustrator" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="interpreter" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="interviewer" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="participant" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="performer" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="photographer" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="recorder" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="researcher" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="research_participant" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="responder" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="signer" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="singer" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="speaker" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="sponsor" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="transcriber" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="translator" cmd:ConceptLink="" cmd:label=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-Role-clarin.eu.cr1.c_1475136016236">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-Role-clarin.eu.cr1.c_1475136016236"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-EmailAddress-clarin.eu.cr1.c_1475136016236">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,63})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-EmailAddress-clarin.eu.cr1.c_1475136016236">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-EmailAddress-clarin.eu.cr1.c_1475136016236"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-ORCID-clarin.eu.cr1.c_1475136016236">
        <xs:restriction base="xs:string">
            <xs:pattern value="https?:\/\/orcid.org\/(\d{4})-(\d{4})-(\d{4})-(\d{3}[0-9X])"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-ORCID-clarin.eu.cr1.c_1475136016236">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-ORCID-clarin.eu.cr1.c_1475136016236"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-Id-clarin.eu.cr1.c_1475136016235">
        <xs:restriction base="xs:string">
            <xs:pattern value="ISO639-3:[a-z]{3}|Unknown|Unspecified"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-Id-clarin.eu.cr1.c_1475136016235">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-Id-clarin.eu.cr1.c_1475136016235"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-Continent-clarin.eu.cr1.c_1475136016234">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Unknown" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2591_f769d93b-c007-d2c9-aff2-99e9177e5764" cmd:label=""/>
            <xs:enumeration value="Unspecified" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2592_6bf81885-106a-fbf0-40e0-9f0233fbd88c" cmd:label=""/>
            <xs:enumeration value="Africa" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Asia" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Europe" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Australia" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Oceania" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="North-America" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="Middle-America" cmd:ConceptLink="" cmd:label=""/>
            <xs:enumeration value="South-America" cmd:ConceptLink="" cmd:label=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-Continent-clarin.eu.cr1.c_1475136016234">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-Continent-clarin.eu.cr1.c_1475136016234"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="MPI_Bundle">
        <xs:annotation/>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Title" minOccurs="1" maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
                    <xs:annotation>
                        <xs:documentation>Title of the bundle</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DataType" minOccurs="1" maxOccurs="unbounded" type="cmdp:complextype-DataType-1---">
                    <xs:annotation>
                        <xs:documentation>Indicates the type of data that the bundle contains.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ResearchField" minOccurs="1" maxOccurs="unbounded" type="cmdp:complextype-ResearchField-1---">
                    <xs:annotation>
                        <xs:documentation>Research (sub)Field </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Date" minOccurs="1" maxOccurs="1" type="cmdp:complextype-Date-1---">
                    <xs:annotation>
                        <xs:documentation>Date at which the bundle was created</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Description" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2520_9eeedfb4-47d3-ddee-cfcb-99ac634bf1db" maxOccurs="1">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Description" maxOccurs="unbounded" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2520_9eeedfb4-47d3-ddee-cfcb-99ac634bf1db" minOccurs="1">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="LanguageID" type="xs:string">
                                                <xs:annotation/>
                                            </xs:attribute>
                                            <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1271859438118"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Contributor" cmd:ConceptLink="http://purl.org/dc/elements/1.1/contributor" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-5043_34618d60-4aab-81c5-47a8-a0cf77fd277e" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="Role" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-3807_1479532e-b741-f5d4-99f4-881c5908cfd9" minOccurs="1" maxOccurs="unbounded" type="cmdp:complextype-Role-clarin.eu.cr1.c_1475136016236">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="EmailAddress" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2521_7b01b455-0de8-d753-ad4e-dee49953ae98" minOccurs="0" maxOccurs="1" type="cmdp:complextype-EmailAddress-clarin.eu.cr1.c_1475136016236">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="ORCID" minOccurs="0" maxOccurs="1" type="cmdp:complextype-ORCID-clarin.eu.cr1.c_1475136016236">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1475136016236"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Institution" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Department" maxOccurs="unbounded" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-3812_ce466764-27ab-b97b-a0bb-d7ac23ad9e60" minOccurs="0">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Organisation" maxOccurs="unbounded" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2979_8030473e-bbcb-6b87-3fd2-90554429ec50" minOccurs="1" cue:DisplayPriority="1">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Url" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2546_180dca37-c1d8-dffe-5d46-8f16de143320" minOccurs="0" maxOccurs="unbounded" type="xs:anyURI">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1475136016206"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Project" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ProjectName" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2536_13fc5f10-c14a-1f64-a669-32736f6d3ef5" minOccurs="1" maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="ProjectDescription" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2520_9eeedfb4-47d3-ddee-cfcb-99ac634bf1db" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="ProjectID" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2535_a4f0e587-455a-ef40-c129-9f605e4c8fad" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="Url" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2546_180dca37-c1d8-dffe-5d46-8f16de143320" minOccurs="0" maxOccurs="1" type="xs:anyURI">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1475136016237"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Content_Language" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" minOccurs="1" maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="Id" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2482_08eded24-4086-7e3f-88e5-e0807fb01e17" minOccurs="1" maxOccurs="1" type="cmdp:complextype-Id-clarin.eu.cr1.c_1475136016235">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1475136016235"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Location" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Continent" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2531_e0427265-2fc4-d23e-0a7c-a21981ec3734" minOccurs="1" maxOccurs="1" type="cmdp:complextype-Continent-clarin.eu.cr1.c_1475136016234">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="Country" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2532_d004b0a6-fd1d-3ca3-abf1-1e6aeb3e37b2" minOccurs="1" maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="PlaceName" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-5580_03e458f2-f873-8645-76eb-40e001b6c1ac" minOccurs="0" maxOccurs="unbounded" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="geoCoordinates" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Latitude" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-5582_0d7dc9e3-e288-56f8-2d9e-c91ae59f436f" minOccurs="1" maxOccurs="1" type="xs:decimal" cue:DisplayPriority="1">
                                            <xs:annotation/>
                                        </xs:element>
                                        <xs:element name="Longitude" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-5583_8be52a01-2494-9656-bfef-39e7f748d104" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation/>
                                        </xs:element>
                                        <xs:element name="Elevation" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-6831_b35d8a30-b199-f4a5-b0ef-c3dfa2ba1d59" minOccurs="0" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation/>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute ref="xml:base"/>
                                    <xs:attribute ref="cmd:ref"/>
                                    <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1407745712017"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1475136016234"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Publication" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Reference" cmd:ConceptLink="http://purl.org/dc/terms/title" minOccurs="1" maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="Url" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2546_180dca37-c1d8-dffe-5d46-8f16de143320" minOccurs="0" maxOccurs="1" type="xs:anyURI">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1475136016238"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="License" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2457_45bbaa1a-7002-2ecd-ab9d-57a189f694a6" minOccurs="0" maxOccurs="1">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="License" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2457_45bbaa1a-7002-2ecd-ab9d-57a189f694a6" minOccurs="1" maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>End user license agreement</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="LicenseURL" minOccurs="1" maxOccurs="1" type="xs:anyURI">
                                <xs:annotation>
                                    <xs:documentation>URL of the license agreement</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1475136016240"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Resource" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Size" cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2580_6dfe4e09-1c61-9b24-98ad-16bb867860fe" minOccurs="1" maxOccurs="1" type="xs:decimal" cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>Size of the resource in Bytes</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1475136016243"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
            <xs:attribute ref="cmd:ref"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
