docker/add-deposit-ui-to-flat/flat_deposit/Helpers/CMDI/FormTemplates/MPI_Collection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1475136016239" xmlns:cmd="http://www.clarin.eu/cmd/1" xmlns:cmdp="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1475136016239" xmlns:cue="http://www.clarin.eu/cmdi/cues/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:appinfo xmlns:ann="http://www.clarin.eu">
            <cmd:Header>
                <cmd:ID>clarin.eu:cr1:p_1475136016239</cmd:ID>
                <cmd:Name>MPI_Collection</cmd:Name>
                <cmd:Description>General collection profile for MPI data sets</cmd:Description>
                <cmd:Status>development</cmd:Status>
            </cmd:Header>
        </xs:appinfo>
    </xs:annotation>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:import namespace="http://www.clarin.eu/cmd/1" schemaLocation="https://infra.clarin.eu/CMDI/1.x/xsd/cmd-envelop.xsd"/>
    <xs:simpleType name="simpletype-DataType-1---">
        <xs:restriction base="xs:string">
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Audio recordings"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Behavioural data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Breathing measurements"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Cell biology data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Computational modeling data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Demographic data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Dictionary"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="DNA sequences"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="DTI data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="EEG data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Eye tracking data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="FCPP (forced choice pointing) data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Field notes"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="fMRI data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Genome data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Geolocation data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Grammatical description"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Grammaticality judgement data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="GSR data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Histology data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Images"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="IQ test data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Kinematic data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Kinship data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="LENA recording data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Lexicographic data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Linguistic annotations"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="MEG data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Microscopic images"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Molecular data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Neuropsychological test data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Phenotype data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Phonetic analysis"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Photographs"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Phylogenetic data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Proteomic data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Questionnaire data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Reaction time data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Resting state fMRI data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="sMRI data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="SNP genotype data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Statistical data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Stimuli"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="tACS data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="tDCS data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="TMS data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Transcriptions"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Transcriptome data"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Video recordings"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Word list"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-DataType-1---">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-DataType-1---"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-ResearchField-1---">
        <xs:restriction base="xs:string">
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Language Acquisition"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Language Development"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Language Documentation"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Language Typology"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Genetics"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Neurobiology"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Psychology"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-ResearchField-1---">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-ResearchField-1---"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-Date-1---">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}(-(0[1-9]|1[012])(-([0-2][0-9]|3[01]))?)?(/[0-9]{4}(-(0[1-9]|1[012])(-([0-2][0-9]|3[01]))?)?)?|Unknown|Unspecified"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-Date-1---">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-Date-1---"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-Role-clarin.eu.cr1.c_1475136016236">
        <xs:restriction base="xs:string">
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="annotator"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="author"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="compiler"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="consultant"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="data_inputter"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="depositor"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="developer"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="editor"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="illustrator"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="interpreter"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="interviewer"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="participant"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="performer"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="photographer"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="recorder"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="researcher"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="research_participant"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="responder"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="signer"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="singer"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="speaker"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="sponsor"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="transcriber"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="translator"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-Role-clarin.eu.cr1.c_1475136016236">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-Role-clarin.eu.cr1.c_1475136016236"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-EmailAddress-clarin.eu.cr1.c_1475136016236">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,63})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-EmailAddress-clarin.eu.cr1.c_1475136016236">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-EmailAddress-clarin.eu.cr1.c_1475136016236"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-ORCID-clarin.eu.cr1.c_1475136016236">
        <xs:restriction base="xs:string">
            <xs:pattern value="https?:\/\/orcid.org\/(\d{4})-(\d{4})-(\d{4})-(\d{3}[0-9X])"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-ORCID-clarin.eu.cr1.c_1475136016236">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-ORCID-clarin.eu.cr1.c_1475136016236"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-Id-clarin.eu.cr1.c_1475136016235">
        <xs:restriction base="xs:string">
            <xs:pattern value="ISO639-3:[a-z]{3}|Unknown|Unspecified"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-Id-clarin.eu.cr1.c_1475136016235">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-Id-clarin.eu.cr1.c_1475136016235"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-Continent-clarin.eu.cr1.c_1475136016234">
        <xs:restriction base="xs:string">
            <xs:enumeration cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2591_f769d93b-c007-d2c9-aff2-99e9177e5764" cmd:label="" value="Unknown"/>
            <xs:enumeration cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2592_6bf81885-106a-fbf0-40e0-9f0233fbd88c" cmd:label="" value="Unspecified"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Africa"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Asia"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Europe"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Australia"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Oceania"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="North-America"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="Middle-America"/>
            <xs:enumeration cmd:ConceptLink="" cmd:label="" value="South-America"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-Continent-clarin.eu.cr1.c_1475136016234">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-Continent-clarin.eu.cr1.c_1475136016234"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="MPI_Collection">
        <xs:annotation/>
        <xs:complexType>
            <xs:sequence>
                <xs:element cue:DisplayPriority="1" maxOccurs="1" minOccurs="1" name="Title" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Title of the collection</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="DataType" type="cmdp:complextype-DataType-1---">
                    <xs:annotation>
                        <xs:documentation>Indicates the type of data that the collection contains.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="ResearchField" type="cmdp:complextype-ResearchField-1---">
                    <xs:annotation>
                        <xs:documentation>Research (sub)Field </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="Date" type="cmdp:complextype-Date-1---">
                    <xs:annotation>
                        <xs:documentation>Date at which the collection was created.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2520_9eeedfb4-47d3-ddee-cfcb-99ac634bf1db" maxOccurs="1" name="Description">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2520_9eeedfb4-47d3-ddee-cfcb-99ac634bf1db" maxOccurs="unbounded" minOccurs="1" name="Description">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="LanguageID" type="xs:string">
                                                <xs:annotation/>
                                            </xs:attribute>
                                            <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute fixed="clarin.eu:cr1:c_1271859438118" ref="cmd:ComponentId"/>
                    </xs:complexType>
                </xs:element>
                <xs:element cmd:ConceptLink="http://purl.org/dc/elements/1.1/contributor" maxOccurs="unbounded" minOccurs="1" name="Contributor">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-5043_34618d60-4aab-81c5-47a8-a0cf77fd277e" cue:DisplayPriority="1" name="Name" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-3807_1479532e-b741-f5d4-99f4-881c5908cfd9" maxOccurs="unbounded" minOccurs="1" name="Role" type="cmdp:complextype-Role-clarin.eu.cr1.c_1475136016236">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2521_7b01b455-0de8-d753-ad4e-dee49953ae98" maxOccurs="1" minOccurs="0" name="EmailAddress" type="cmdp:complextype-EmailAddress-clarin.eu.cr1.c_1475136016236">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="ORCID" type="cmdp:complextype-ORCID-clarin.eu.cr1.c_1475136016236">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute fixed="clarin.eu:cr1:c_1475136016236" ref="cmd:ComponentId"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Institution">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-3812_ce466764-27ab-b97b-a0bb-d7ac23ad9e60" maxOccurs="unbounded" minOccurs="0" name="Department">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2979_8030473e-bbcb-6b87-3fd2-90554429ec50" cue:DisplayPriority="1" maxOccurs="unbounded" minOccurs="1" name="Organisation">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute ref="xml:lang"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2546_180dca37-c1d8-dffe-5d46-8f16de143320" maxOccurs="unbounded" minOccurs="0" name="Url" type="xs:anyURI">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute fixed="clarin.eu:cr1:c_1475136016206" ref="cmd:ComponentId"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Project">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2536_13fc5f10-c14a-1f64-a669-32736f6d3ef5" cue:DisplayPriority="1" maxOccurs="1" minOccurs="1" name="ProjectName" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2520_9eeedfb4-47d3-ddee-cfcb-99ac634bf1db" maxOccurs="1" minOccurs="1" name="ProjectDescription" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2535_a4f0e587-455a-ef40-c129-9f605e4c8fad" maxOccurs="1" minOccurs="0" name="ProjectID" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2546_180dca37-c1d8-dffe-5d46-8f16de143320" maxOccurs="1" minOccurs="0" name="Url" type="xs:anyURI">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute fixed="clarin.eu:cr1:c_1475136016237" ref="cmd:ComponentId"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Content_Language">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element cue:DisplayPriority="1" maxOccurs="1" minOccurs="1" name="Name" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2482_08eded24-4086-7e3f-88e5-e0807fb01e17" maxOccurs="1" minOccurs="1" name="Id" type="cmdp:complextype-Id-clarin.eu.cr1.c_1475136016235">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute fixed="clarin.eu:cr1:c_1475136016235" ref="cmd:ComponentId"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Location">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2531_e0427265-2fc4-d23e-0a7c-a21981ec3734" maxOccurs="1" minOccurs="1" name="Continent" type="cmdp:complextype-Continent-clarin.eu.cr1.c_1475136016234">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2532_d004b0a6-fd1d-3ca3-abf1-1e6aeb3e37b2" cue:DisplayPriority="1" maxOccurs="1" minOccurs="1" name="Country" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-5580_03e458f2-f873-8645-76eb-40e001b6c1ac" maxOccurs="unbounded" minOccurs="0" name="PlaceName" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="geoCoordinates">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-5582_0d7dc9e3-e288-56f8-2d9e-c91ae59f436f" cue:DisplayPriority="1" maxOccurs="1" minOccurs="1" name="Latitude" type="xs:decimal">
                                            <xs:annotation/>
                                        </xs:element>
                                        <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-5583_8be52a01-2494-9656-bfef-39e7f748d104" maxOccurs="1" minOccurs="1" name="Longitude" type="xs:decimal">
                                            <xs:annotation/>
                                        </xs:element>
                                        <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-6831_b35d8a30-b199-f4a5-b0ef-c3dfa2ba1d59" maxOccurs="1" minOccurs="0" name="Elevation" type="xs:decimal">
                                            <xs:annotation/>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute ref="xml:base"/>
                                    <xs:attribute ref="cmd:ref"/>
                                    <xs:attribute fixed="clarin.eu:cr1:c_1407745712017" ref="cmd:ComponentId"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute fixed="clarin.eu:cr1:c_1475136016234" ref="cmd:ComponentId"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Publication">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element cmd:ConceptLink="http://purl.org/dc/terms/title" cue:DisplayPriority="1" maxOccurs="1" minOccurs="1" name="Reference" type="xs:string">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2546_180dca37-c1d8-dffe-5d46-8f16de143320" maxOccurs="1" minOccurs="0" name="Url" type="xs:anyURI">
                                <xs:annotation/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute fixed="clarin.eu:cr1:c_1475136016238" ref="cmd:ComponentId"/>
                    </xs:complexType>
                </xs:element>
                <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2457_45bbaa1a-7002-2ecd-ab9d-57a189f694a6" maxOccurs="1" minOccurs="0" name="License">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2457_45bbaa1a-7002-2ecd-ab9d-57a189f694a6" cue:DisplayPriority="1" maxOccurs="1" minOccurs="1" name="License" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>End user license agreement</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="1" name="LicenseURL" type="xs:anyURI">
                                <xs:annotation>
                                    <xs:documentation>URL of the license agreement</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute fixed="clarin.eu:cr1:c_1475136016240" ref="cmd:ComponentId"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
            <xs:attribute ref="cmd:ref"/>
            <xs:attribute name="CollectionLevel">
                <xs:annotation>
                    <xs:documentation>The level that this node represents in the collection hierarchy</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SuperCollection"/>
                        <xs:enumeration value="Collection"/>
                        <xs:enumeration value="SubCollection"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>